:root {
  --color-black: #000;
  --color-dark: #181d27;
  --color-white: #fff;
  --color-white-light: #eff1f5;
  --color-white-middle: #e8eaed;
  --color-white-dark: #c5c7c9;
  --color-gray-dark: #3d3d3f;
  --color-gray-medium: #666;
  --color-gray: #74777d;
  --color-pink: #ad71ab;
  --color-pink-light: #de8fdc;
  --color-pink-dark: #754c73;


  --font-primary: 'Roboto', sans-serif;

}
